@import '@fontsource/grandstander';
  

* {
    position: relative;
    box-sizing: border-box;
}

h1 {
    font-family: Grandstander;
}
html, body {
    height: 100%;
    margin: 0;
    font-family: system-ui;
}